body {
    font-size: 16px;
    color: rgb(235, 16, 16);
 }
 h1 {
    font-size: 40px;
 } 
 p {
    font-size: 20px;
 }

{
    font-family :'Santaclaus', sans-serif;
    color: #fff;
}

body {
    background-color: rgb(20, 19, 19);
    background-size: cover;
    background-blend-mode: multiply;
}

#perfil {
    width: 276px;
    border-radius: 100%;
    border: 5px solid rgb(226, 142, 16);
}

#content {
    text-align: center;
    margin-top: 13%;
}

p {
    font-size: 24px;
}

h1 {
    font-size: 40px;
}
